.username {
    color: #222;
    font-family: 'Courier New', Courier, monospace;
}

.alert {
    font-weight: bold;
}

.user-details-table td:first-child {
    font-weight: bold;
}

.create-workout-tab {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
}

.create-workout-tab-controls {
    padding: 0 10px;
}

.create-workout-tab .nav-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0.4rem 10px;
}

.create-workout-tab .nav-buttons * {
    margin-left: 10px;
}

.create-workout-tab-date {
    background-color: #343a40;
    color: rgb(227, 227, 227);
    padding: 10px 0;
}

.create-workout-tab-date h3 {
    text-align: center;
    font-size: 1.2rem;
}