.username {
    color: #222;
    font-family: 'Courier New', Courier, monospace;
}

.alert {
    font-weight: bold;
}

.user-details-table td:first-child {
    font-weight: bold;
}

.create-workout-tab {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;

   border-top: 20px solid #343a40;
}

.create-workout-tab .right {
    float: right;
    margin: 0.4rem 10px;
}